<!-- nav can move to another component -->
<mat-toolbar class="mat-app-background">
  <span color="primary">Rabobank</span>
  <span class="spacer"></span>
</mat-toolbar>
<div class="mat-app-background basic-container">
  <app-user-issue-list></app-user-issue-list>
</div>

<router-outlet></router-outlet>