@import '~@angular/material/theming';

@include mat-core();

$aa-blue: (
    50 : #e1e0f3,
    100 : #b5b3e0,
    200 : #8480cc,
    300 : #524db8,
    400 : #2d26a8,
    500 : #080099,
    600 : #070091,
    700 : #060086,
    800 : #04007c,
    900 : #02006b,
    A100 : #9a9aff,
    A200 : #6767ff,
    A400 : #3434ff,
    A700 : #1a1aff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$aa-orange: (
    50 : #ffece0,
    100 : #fed1b3,
    200 : #feb280,
    300 : #fe934d,
    400 : #fd7b26,
    500 : #fd6400,
    600 : #fd5c00,
    700 : #fc5200,
    800 : #fc4800,
    900 : #fc3600,
    A100 : #ffffff,
    A200 : #fff1ef,
    A400 : #ffc6bc,
    A700 : #ffb1a2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$raboapp-primary: mat-palette($aa-blue, 500, 300, 800);
$raboapp-accent: mat-palette($aa-orange, 500, 300, 800);

// The warn palette is optional (defaults to red).
$raboapp-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$raboapp-theme: mat-light-theme($raboapp-primary, $raboapp-accent, $raboapp-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($raboapp-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }