<mat-card>
    <input type="file" accept=".csv" #file style="display: none" (change)="onFilesAdded($event.target)" />
    <button [disabled]="uploading || uploadSuccessful" mat-raised-button color="accent" class="add-files-btn"
        (click)="addFiles()">
        Load CSV Files
    </button>
    <h5 mat-line>{{fileName}}</h5>
    <mat-form-field>
        <input matInput type="number" (keyup)="applyFilter($event.target.value)" placeholder="Filter for minimal issue count">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z4">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> First name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Surname Column -->
        <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef> Sur name </th>
            <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
        </ng-container>

        <!-- Issue count Column -->
        <ng-container matColumnDef="issueCount">
            <th mat-header-cell *matHeaderCellDef> Issue count </th>
            <td mat-cell *matCellDef="let element"> {{element.issueCount}} </td>
        </ng-container>

        <!-- Date of birth Column -->
        <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef> Date of birth </th>
            <td mat-cell *matCellDef="let element"> {{element.dob}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>