table {
    width: 100%;
  }
.mat-form-field {
    font-size: 14px;
    width: 100%;
  }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
button {
  color: white !important;
}